/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	cpus {
		cpu@0 {
		};
	};

	chosen {
		stdout-path = &uart0;
		tick-timer = &timer2;
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x8000000>; /* 128 MB */
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;

	status = "okay";
};

&i2c0 {
 	status = "okay";
 	pinctrl-names = "default", "sleep";
	//pinctrl-0 = <&i2c1_pins>;
  	//pinctrl-0 = <&i2c1_pins_default>;
 	//pinctrl-1 = <&i2c1_pins_sleep>;
 	clock-frequency = <100000>;
};

&i2c1 {
 	status = "okay";
 	pinctrl-names = "default", "sleep";
 	clock-frequency = <100000>;
	
	slave1: slave@54 {
		compatible = "ti,omap4-i2c";
		reg = <0x54>;
	};
};

&am33xx_pinmux {
	pinctrl-names = "default";
	//pinctrl-0 = <&clkout2_pin>;

	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0x958 0x73	/* change to uart1_ctsn.i2c1_sda ?*/
			0x95C 0x73	/* change to uart1_rtsn.i2c1_scl ?*/
		>;
	};
	//0x980 (PIN_INPUT_PULLUP | MUX_MODE3)	/* change to uart1_ctsn.i2c1_sda ?*/
	//0x984 (PIN_INPUT_PULLUP | MUX_MODE3)	/* change to uart1_rtsn.i2c1_scl ?*/
	//0x180 0x73	/* change to uart1_ctsn.i2c1_sda ?*/
	//0x184 0x73	/* change to uart1_rtsn.i2c1_scl ?*/

	uart0_pins: pinmux_uart0_pins {
		pinctrl-single,pins = <
			0x170 (PIN_INPUT_PULLUP | MUX_MODE0)	/* uart0_rxd.uart0_rxd */
			0x174 (PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* uart0_txd.uart0_txd */
		>;
	};
};

